<div class="menu_category">
    <ul>
        {% for category in categories %}
            {% if category.name != "Акции"%}
                <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a class="blink" href="https://spbzveri.ru/specials">Акции</a></li>
        <li><a href="https://spbzveri.ru/brands">Бренды</a></li>
        <li><a href="https://spbzveri.ru/delivery">Оплата и доставка</a></li>
    </ul>
</div>